* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

header {
    height: 100px;
    margin: 20px 0;
}

.logo img {
    height: 100px;
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    font-size: large;
}

nav ul li a {
    text-decoration: none;
    color: #9b9b9b;
}

.promoted {
    position: relative;
    height: 550px;
    margin: 40px 0;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.text-promoted {
    position: absolute;
    width: 550px;
    color: #fff;
    left: 50px;
    bottom: 75px;
}

main {
    width: 100%;
}

.over-row {
    margin: 20px 0;
}

.over-row h2 {
    font-weight: 800;
    font-size: xx-large;
}

.over-row p {
    color: #9b9b9b;
}

.row {
    margin-bottom: 20px;
}

.content {
    height: 250px;
    border-radius: 10px;
    background-size: cover;
    background-color: gray;
}

.left {
    width: calc(20% - 20px);
    float: left;
}

.content-left {
    background-image: url(../img/img-1.jpg);
    border: 1px solid black;
}

.central {
    width: 60%;
    float: left;
    margin: 0 20px;
}

.content-central {
    background-image: url(../img/banner-2.jpg);
    background-position: center;
    border: 1px solid black;
}

.right {
    width: calc(20% - 20px);
    float: left;
}

.content-right {
    background-image: url(../img/img-3.jpg);
    background-position: center;
    border: 1px solid black;
}

.text-content {
    padding: 20px 0;
}

.text-content h4 {
    padding: 10px 0;
}

footer {
    text-align: center;  
}

footer span {
    color: red;
}
